@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-h: 70px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .title{
    @apply font-semibold text-[48px] leading-[57px] text-black mt-[120px] ;
  }

  .glass{
    @apply bg-[rgba(255,255,255,0.03)]
    backdrop-blur-[4px]
    rounded-[30px]
    border border-[rgba(255,255,255,0.3)]
    overflow-hidden
    shadow-[0_8px_32px_rgba(0,0,0,0.1),_inset_0_1px_0_rgba(255,255,255,0.5),_inset_0_-1px_0_rgba(255,255,255,0.1),_inset_0_0_2px_1px_rgba(255,255,255,0.1)]
    [&::before]:content-[''] [&::before]:absolute [&::before]:inset-x-0 [&::before]:top-0 [&::before]:h-px
    [&::before]:bg-[linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent)]
    [&::after]:content-[''] [&::after]:absolute [&::after]:top-0 [&::after]:left-0 [&::after]:w-px [&::after]:h-full
    [&::after]:bg-[linear-gradient(180deg,rgba(255,255,255,0.8),transparent,rgba(255,255,255,0.3))]
  }

  .skill{
    @apply  font-medium text-[16px] leading-[19px] rounded-md px-3 py-1 w-fit
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Arial, Helvetica;
}

.swiper-pagination-bullet-active{
   background:  #ffa9a9  !important;
}

.swiper-3d .swiper-slide-shadow-left {
  border-radius: 1.5rem;
}

.swiper-3d .swiper-slide-shadow-right {
  border-radius: 1.5rem;
}
